@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@400;700&display=swap");

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  scroll-behavior: smooth;
  list-style: none;
}
html {
  font-size: 62.5%;
  height: 100%;
}
body {
  color: #2b2b2b;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  overflow-x: hidden;
  line-height: 1.4;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
article,
aside,
footer,
header,
nav,
section,
time {
  display: block;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}

.container {
  max-width: 114rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

/* Desktop Header */

.header {
    background-color: #000000;
}
.header .container {
    max-width: 175rem;
}
.header .header__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 2rem;
}
.header .header__wrapper .branding img {
    width: 5rem;
}
.header .header__wrapper .branding {
    color: #fff;
    display: flex;
    font-size: 2.5rem;
    gap: 1rem;
}
.header .header__wrapper .header__nav ul {
    display: flex;
    justify-content: end;
}
.header .header__wrapper .header__nav ul {
    gap: 2rem;
}
.header .header__wrapper .header__nav ul li a {
    color: #fff;
    font-size: 2.3rem;
    padding: 1rem 3rem;
}
.header .header__wrapper .header__nav ul li .bg--purple:hover {
    background-color: #fff;
    color: #000000;
    transition: .2s ease-in;
}

/* banner */

.banner {
  background-color:#dadbf1;
}
.banner .banner__wrapper .banner__search{
  position: relative;
}
.banner .banner__wrapper .banner__search .search__container {
  float: right;
}
.banner .banner__wrapper .banner__search {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10rem;
}
.banner .banner__wrapper .banner__search h1 {
  font-size: 70px;
  color: #000000;
  margin-bottom: 1.7rem;
}
.banner .banner__wrapper .banner__search .search__container input {
  padding: 2rem;
  width: 65rem;
  margin-top: 8px;
  font-size: 17px;
  border: 1px solid #000000;
  border-right: none;
  border-top-left-radius: 3.5px;
  border-bottom-left-radius: 3.5px;
}
.banner .banner__wrapper .banner__search .search__container button {
  float: right;
  padding: 2rem;
  margin-top: 8px;
  margin-right: 16px;
  background: #fff;
  font-size: 17px;
  border: 1px solid #000000;
  border-left: none;
  border-top-right-radius: 3.5px;
  border-bottom-right-radius: 3.5px;
  cursor: pointer;
}
.banner .banner__wrapper .banner__search .search__container input:hover {
  border-color: #4C5FD5;
  transition: .9s ease;
}
.banner .banner__wrapper .banner__search .search__container button:hover {
  border-color: #4C5FD5;
  transition: .9s ease;
}

/* Repeatable */

.btn {
    display: inline-block;
    border: 1px solid transparent;
    padding: 1.3rem 3rem;
    background-color: transparent;
    border-radius: 1rem;
}
.btn.border--white {
    border: 1px solid #fff;
}
.btn.bg--purple {
    background-color: #4C5FD5;
    padding: 1.3rem 3.5rem;
}